<div class="col-xs-12">
  <form [formGroup]="sigForm">

    <div class="form-group">  
      <label for="sigInput">Sig</label>  
      <input formControlName="sigControl" 
			 type="text"
			 class="form-control"
             id="sigControl"  
             placeholder="Sig">  
    </div>

  </form>  
</div>

  <div class="col-xs-2">
  Method:
  <pre *ngFor="let m of method">{{m | json}}</pre>
  </div>
  
  <div class="col-xs-2">
  Dose:
  <pre *ngFor="let d of dose">{{d | json}}</pre>
  </div>

  <div class="col-xs-2">
  Route:
  <pre *ngFor="let r of route">{{r | json}}</pre>
  </div>

  <div class="col-xs-2">
  Frequency:
  <pre *ngFor="let f of frequency">{{f | json}}</pre>
  </div>

  <div class="col-xs-2">
  Duration:
  <pre *ngFor="let d of duration">{{d | json}}</pre>
  </div>

  <div class="col-xs-2">
  PRN:
  <pre *ngFor="let p of prn">{{p | json}}</pre>
  </div>