<div class="col-xs-12">
  <form [formGroup]="sigForm"  
        (ngSubmit)="onSubmit(sigForm.value)">

    <div class="form-group">  
      <label for="sigInput">Sig</label>  
      <input formControlName="sigControl" 
			 type="text"
			 class="form-control"
             id="sigControl"  
             placeholder="Sig">  
    </div>

  </form>  

  <div>
  Dose:
  <pre *ngFor="let d of dose">{{d | json}}</pre>
  </div>

  <div>
  Frequency:
  <pre *ngFor="let f of frequency">{{f | json}}</pre>
  </div>

</div>