<div class="sig-container">
	<form [formGroup]="sigForm">
		<div class="form-group">  
			<input formControlName="sigControl" 
			type="text"
			id="sigControl"  
			placeholder="type sig">  
		</div>
	</form>  

	<div *ngFor="let s of sig; let sequence = index">
		<pre class="json">{{s.standardized | json}}</pre>
	</div>
</div>

	  <!--
	  Standardized Sig: <a href="https://www.hl7.org/fhir/dosage.html" target="_blank">Dosage</a>
	  
	  <div class="col-xs-12"><strong>Sequence {{s.sequence}}:</strong> {{s.text}}</div>

	  <div class="col-xs-2">
	  Method: <a href="https://www.hl7.org/fhir/datatypes.html#CodeableConcept" target="_blank">CodeableConcept</a>
	  <pre *ngFor="let m of s.method">{{m | json}}</pre>
	  </div>
	  
	  <div class="col-xs-2">
	  Dose: <a href="https://www.hl7.org/fhir/datatypes.html#Range" target="_blank">Range</a> or <a href="https://www.hl7.org/fhir/datatypes.html#SimpleQuantity" target="_blank">SimpleQuantity</a>
	  <pre *ngFor="let d of s.dose">{{d | json}}</pre>
	  </div>

	  <div class="col-xs-2">
	  Route: <a href="https://www.hl7.org/fhir/datatypes.html#CodeableConcept" target="_blank">CodeableConcept</a>
	  <pre *ngFor="let r of s.route">{{r | json}}</pre>
	  </div>

	  <div class="col-xs-2">
	  Frequency: <a href="https://www.hl7.org/fhir/datatypes.html#Timing" target="_blank">Timing</a> (1/2)
	  <pre *ngFor="let f of s.frequency">{{f | json}}</pre>
	  </div>

	  <div class="col-xs-2">
	  Duration: <a href="https://www.hl7.org/fhir/datatypes.html#Timing" target="_blank">Timing</a> (2/2)
	  <pre *ngFor="let d of s.duration">{{d | json}}</pre>
	  </div>

	  <div class="col-xs-2">
	  Indication: <a href="https://www.hl7.org/fhir/datatypes.html#boolean" target="_blank">Boolean</a> or <a href="https://www.hl7.org/fhir/datatypes.html#CodeableConcept" target="_blank">CodeableConcept</a>
	  <pre *ngFor="let i of s.indication">{{i | json}}</pre>
	  </div>
	  -->
	  
